<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jly.garfieldprojects" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".GarfieldApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data  android:name="garfieldType" android:value="8"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.QqHeaderActivity"/>
        <activity android:name=".ui.EditTextActivity"/>
        <activity android:name=".ui.DeleteListViewItemActivity"/>
        <activity android:name=".ui.design.SideslipActivity"/>
        <activity android:name=".ui.viewpager.ChangeableViewpagerActivity"/>
        <activity android:name=".ui.design.NavigationViewActivity"/>
        <activity android:name=".ui.design.SnackBarViewsActivity"/>
        <activity android:name=".ui.popupwindow.PopupWindowActivity"/>
        <activity android:name=".mediaplayer.MediaplayerActivity"/>
        <activity android:name=".ui.timeselector.TimeSelectorActivity"/>
        <activity android:name=".ui.timeselector.TimeSelectorActivity1"/>
        <activity android:name=".ui.drawable.DrawableActivity"/>
        <activity android:name=".ui.LayoutInflaterActivity"/>
        <activity android:name=".ui.GridLayoutActivity"/>
        <activity android:name=".ui.refreshlistview.RefreshListViewActivity"/>
        <activity android:name=".ui.webview.WebViewActivity"/>
        <activity android:name=".ui.ProgressBarActivity"/>
    </application>

</manifest>
